[submodule "shared/depthai-shared"]
	path = shared/depthai-shared
	url = https://github.com/maseabunikie/depthai-shared.git
[submodule "shared/depthai-bootloader-shared"]
	path = shared/depthai-bootloader-shared
	url = ../../luxonis/depthai-bootloader-shared.git
